---

---
<div class="w-full h-16 overflow-y-scroll mb-2 scrollbar-thin scrollbar-thumb-white scrollbar-track-[#172564] dark:scrollbar-thumb-zinc-950 dark:scrollbar-track-zinc-700">
    <p class="pr-3 pl-3 select-none">
        A este sistema de biblioteca lo desarrollé en 2 partes, comunicándolos a través de API REST, por el lado del backend
        con Laravel, creó un sistema con una bade de datos el cual se implementó seguridad JWT para el inicio de sesión, se
        protegieron rutas con middlewares y se creo una tabla básica para la gestión de libros en CRUD. En el lado del frontend
        con VueJS se crearon las vistas para iniciar sesión y crear una cuenta, además de trabajar con PiniaJS para mantener el
        estado global para evitar carga de memoria innecesaria. Las funciones que se utilizaron en front se desarrollaron con TS.
        Este proyecto es escalable para futuras actualizaciones.
    </p>
</div>