---

---
<div class="flex w-full h-16 overflow-y-scroll mb-2 scrollbar-thin scrollbar-thumb-white scrollbar-track-[#172564] dark:scrollbar-thumb-zinc-950 dark:scrollbar-track-zinc-700">
    <p class="text-justify pr-3 pl-3 select-none">
        Este es un sistema administrativo el cual contiene gestión de usuarios, también puedes
        crear nuevos apartados desde la interfaz que se basen en CRUD, puedes agregar plugins
        o herramientas de control.
    </p>
</div>