---

---
<div class="flex w-full h-16 overflow-y-scroll mb-2 scrollbar-thin scrollbar-thumb-white scrollbar-track-[#172564] dark:scrollbar-thumb-zinc-950 dark:scrollbar-track-zinc-700">
    <p class="text-justify pr-3 pl-3 select-none">
        Este proyecto lo basé en una tienda, lo desarrollé en 2 partes, en la parte del backend lo creé con ExpressJS, el cual
        configuré desde cero, el cual es totalmente escalable ya que no estática, creé API's para poder comunicarlo con el
        Frontend, que desarrollé con React, creé un login y un registro de usuario con filtro de roles, e integré Redux Toolkit
        para el manejo de estado, pensado en un ecommerce, que también puede realizar CRUD, las funciones a través de TypeScript.
    </p>
</div>