---

---
<div class="h-screen bg-zinc-50 dark:text-stone-800 grid grid-rows-4 justify-center select-none" id="Aboutme">
    <div class="row-start-1 text-blue-800 dark:text-zinc-600 text-2xl grid justify-center pt-8">
        <p class="animate-pulse font-code grid content-center">< Más sobre mí / ></p>
    </div>
    <div class="row-start-2 row-span-3">
        <div class="grid justify-center">
            <div class="grid grid-rows-2 justify-center">
                <div class="grid justify-center pb-4 sm:pr-0 pr-5 sm:pl-0 pl-5">
                    <div class="font-sans text-sm justify-center sm:w-[800px]">
                        He tenido la oportunidad de trabajar en diferentes proyectos, desde aplicaciones web hasta
                        aplicaciones móviles, siempre con el objetivo de mejorar la calidad de experiencia del usuario.
                        <br/><br/>
                        Me considero una persona responsable, con buenas relaciones interpersonales y una gran capacidad
                        de adaptación a los cambios. Me gusta trabajar en equipo y colaborar con otros para lograr los
                        objetivos de la empresa.
                        <br/><br/>
                        Me gusta aprender nuevas tecnologías y herramientas, y siempre estoy buscando nuevas formas de
                        mejorar mis habilidades y conocimientos.
                        <br/><br/>
                        He trabajado con diferentes lenguajes de programación, sin embargo, estoy en constante aprendizaje
                        especializándome en Java, Desarrollo con diferentes frameworks, como Spring Boot, Laravel,
                        Express, React, Vue, entre otros. Gestiono diferentes bases de datos, como MySQL, PostgreSQL, MongoDB.
                    </div>
                </div>
                <div class="justify-center">
                    <div class="grid grid-cols-2 justify-center">
                        <p class="text-center">
                            Backend
                        </p>
                        <p class="text-center">
                            Frontend
                        </p>
                    </div>
                    <div class="grid grid-cols-2 justify-center gap-2 m-2">
                        <div class="flex justify-center gap-2">
                            <img src="/portfolio/icons/icons8-spring-boot-120.png" alt="springboot" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-laravel-96.png" alt="laravel" class="h-8 w-8 p-1.5 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-express-js-120.png" alt="express" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-postgres-120.png" alt="mysql" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-mysql-120.png" alt="mysql" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-mongo-db-96.png" alt="mongo" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                        </div>
                        <div class="flex justify-center gap-3">
                            <img src="/portfolio/icons/icons8-react-120.png" alt="react" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-vue-96.png" alt="js" class="h-8 w-8 p-1.5 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-typescript-120.png" alt="ts" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-tailwind-css-120.png" alt="tailwind" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                            <img src="/portfolio/icons/icons8-astro-js-120.png" alt="tailwind" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-200"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>