---

---
<div class="h-screen bg-zinc-50">
    <div class="text-blue-900 dark:text-zinc-600 text-2xl text-center pt-20 pb-8" id="Aboutme">
        <p class="animate-pulse font-code">< Más sobre mí / ></p>
    </div>
    <div class=grid grid-rows-2"></div>
</div>