---

---
<div class="bg-gradient-to-b from-sky-500 to-sky-700 dark:bg-zinc-200 h-screen" id="Aboutme">
    <div class="row-start-1">
        <p class="animate-pulse font-code text-center py-20 text-zinc-50 dark:text-zinc-600 text-2xl">&lt; Más sobre mí / &gt;</p>
    </div>
    <div>
        <div class="flex justify-items-center">
            <p class="font-sans px-10 sm:px-60 text-zinc-50 dark:text-zinc-700">
                Me considero una persona responsable, con buenas relaciones interpersonales y una gran capacidad
                de adaptación a los cambios. Me gusta trabajar en equipo y colaborar con otras personas.
                <br/><br/>
                En mi tiempo libre, disfruto leer libros de ciencia ficción y jugar videojuegos.
                Me gusta viajar y conocer nuevos lugares y culturas.
                <br/><br/>
                Soy una persona muy tranquila y me gusta mantener un equilibrio entre mi vida personal y profesional.
                Creo que es importante tener tiempo para relajarse y disfrutar de las cosas que me gustan.
                <br/><br/>
                Soy autodidacta y siempre estoy buscando aprender cosas nuevas.
                Me gusta aprender nuevas tecnologías y mejorar mis habilidades de programación.
            </p>
        </div>
    </div>
</div>