---
let year = new Date().getFullYear();
year=year-2000;
---
<div class="pageTheme pageLight" id="Aboutme">
    <p class="titleTheme titleLight">&lt; Más sobre mí / &gt;</p>
    <p class="txt-cont txt-light">
        Me llamo Cristian David Cobaxin Seba, tengo {year} años, soy originario de Veracruz, vivo en Guadalupe,
        Nuevo León, actualmente estoy en mi último tetramestre de ingeniería, concluyo en febrero 2026.
        <br/><br/>
        Me considero una persona responsable y tranquila, con buenas relaciones interpersonales y una gran capacidad
        de adaptación a los cambios. Me gusta trabajar en equipo y colaborar con otras personas. Me gusta mantener un
        equilibrio entre mi vida personal y profesional. Creo que es importante tener tiempo para relajarse y disfrutar
        de las cosas que me gustan.
        <br/><br/>
        En mi tiempo libre, disfruto leer libros especialmente novelas y jugar videojuegos.
        Me gusta viajar y conocer nuevos lugares.
        <br/><br/>
        Soy autodidacta y siempre estoy buscando aprender cosas nuevas.
        Me gusta aprender nuevas tecnologías y mejorar mis habilidades de programación.
    </p>
</div>