---

---
<div class="pageTheme pageLight" id="Aboutme">
    <p class="titleTheme titleLight">&lt; Más sobre mí / &gt;</p>
    <p class="txt-cont txt-light">
        Me considero una persona responsable, con buenas relaciones interpersonales y una gran capacidad
        de adaptación a los cambios. Me gusta trabajar en equipo y colaborar con otras personas.
        <br/><br/>
        En mi tiempo libre, disfruto leer libros de ciencia ficción y jugar videojuegos.
        Me gusta viajar y conocer nuevos lugares y culturas.
        <br/><br/>
        Soy una persona muy tranquila y me gusta mantener un equilibrio entre mi vida personal y profesional.
        Creo que es importante tener tiempo para relajarse y disfrutar de las cosas que me gustan.
        <br/><br/>
        Soy autodidacta y siempre estoy buscando aprender cosas nuevas.
        Me gusta aprender nuevas tecnologías y mejorar mis habilidades de programación.
    </p>
</div>