---
---
<div class="h-full bg-blue-800 dark:bg-zinc-800 grid grid-rows-4 select-none" id="Contacto">
    <div class="row-start-1 text-zinc-50 dark:bg-zinc-800 dark:text-zinc-300 text-2xl grid justify-center pt-8">
        <div class="animate-pulse font-code grid content-center">< Contacto / ></div>
    </div>
    <div class="row-start-2 row-span-3 grid justify-center">
        <div class="grid grid-cols-2">
            <div class="grid gap-5 border-r-2 border-r-zinc-50 pr-10 text-zinc-50 content-center">

                <div class="grid grid-cols-4 grid-rows-2">
                    <div class="col-start-1 row-span-2 grid content-center justify-center">
                        <img src="/portfolio/icons/icons8-wlocation-96.png" alt="location" class="h-8 w-8 p-1 rounded-md bg-zinc-50/70 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-2 col-span-3 row-start-1">
                        <p class="font-semibold text-sm">Dirección: </p>
                    </div>
                    <div class="col-start-2 col-span-3 row-start-2">
                        <p class="text-[13px]">Guadalupe, Nuevo León, México</p>
                    </div>
                </div>

                <div class="grid grid-cols-4 grid-rows-2">
                    <div class="col-start-1 row-span-2 grid content-center justify-center">
                        <img src="/portfolio/icons/icons8-github-120.png" alt="github" class="h-8 w-8 p-1 rounded-md bg-zinc-50/70 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-2 col-span-3 row-start-1">
                        <p class="font-semibold text-sm">Github: </p>
                    </div>
                    <div class="col-start-2 col-span-3 row-start-2">
                        <a href="https://github.com/CristianDCS0" target="_blank">
                            <p class="text-[13px] w-fit rounded-sm hover:bg-zinc-400/50 hover:underline hover:p-1">CristianDCS0</p>
                        </a>
                    </div>
                </div>

                <div class="grid grid-cols-4 grid-rows-2">
                    <div class="col-start-1 row-span-2 grid content-center justify-center">
                        <img src="/portfolio/icons/icons8-gmail-120.png" alt="gmail" class="h-8 w-8 p-1 rounded-md bg-zinc-50/70 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-2 col-span-3 row-start-1">
                        <p class="font-semibold text-sm">Gmail: </p>
                    </div>
                    <div class="col-start-2 col-span-3 row-start-2">
                        <p class="text-[13px]">cdcs030600@gmail.com</p>
                    </div>
                </div>

                <div class="grid grid-cols-4 grid-rows-2">
                    <div class="col-start-1 row-span-2 grid content-center justify-center">
                        <img src="/portfolio/icons/icons8-whatsapp-120.png" alt="whatsapp" class="h-8 w-8 p-1 rounded-md bg-zinc-50/70 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-2 col-span-2 row-start-1">
                        <p class="font-semibold text-sm">WhatsApp: </p>
                    </div>
                    <div class="col-start-2 col-span-2 row-start-2">
                        <a href="https://wa.me/qr/OOPMKKNGJABUD1" target="_blank">
                            <p class="text-[13px] w-fit rounded-sm hover:bg-zinc-400/50 hover:underline hover:p-1">+52 8119020538</p>
                        </a>
                    </div>
                    <div class="col-start-4 row-span-2 grid content-center justify-center">
                        <img src="/portfolio/icons/ws.jpeg" alt="whatsapp" class="h-10 w-10 bg-zinc-50/70 dark:bg-zinc-500"/>
                    </div>
                </div>

                <div class="grid grid-cols-4 grid-rows-2">
                    <div class="col-start-1 row-span-2 grid content-center justify-center">
                        <img src="/portfolio/icons/icons8-linkedin-120.png" alt="linkedin" class="h-8 w-8 p-1 rounded-md bg-zinc-50/70 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-2 col-span-3 row-start-1">
                        <p class="font-semibold text-sm">Linkedin: </p>
                    </div>
                    <div class="col-start-2 col-span-3 row-start-2">
                        <a href="https:///www.linkedin.com/in/crisdcs0" target="_blank" class="w-fit">
                            <p class="text-[13px] w-fit rounded-sm hover:bg-zinc-400/50 hover:underline hover:p-1">Crisdcs</p>
                        </a>
                    </div>
                </div>

            </div>

            <div class="grid pl-10 w-96">
                <iframe style="border:none;width:100%;" id="my-form-wqkx9a" src="https://opnform.com/forms/my-form-wqkx9a"></iframe><script type="text/javascript" onload="initEmbed('my-form-wqkx9a')" src="https://opnform.com/widgets/iframe.min.js"></script>
            </div>
        </div>
    </div>
</div>