---

import {Button} from "./ui/button";
import {QrCode} from "lucide-react";
---
<div class="h-screen bg-blue-800 dark:bg-zinc-800 grid grid-rows-4 select-none" id="Contacto">
    <div class="row-start-1 text-zinc-50 dark:bg-zinc-800 dark:text-zinc-300 text-2xl grid justify-center pt-8">
        <div class="animate-pulse font-code grid content-center">< Contacto / ></div>
    </div>
    <div class="row-start-2 row-span-3 grid justify-center">

    </div>
</div>