---

---
<div class="bg-zinc-50 sm:h-screen pl-20 pr-20">
    <div class="text-blue-800 dark:text-zinc-600 text-2xl text-center pt-20 pb-8" id="Experiencia">
        <p class="animate-pulse font-code">< Experiencia laboral / ></p>
    </div>
    <div class="grid grid-rows-2 justify-center">
        <div class="grid items-center">
            <p class="mb-4">
                En el periodo 2018 a 2020 laboré en
                <span class="text-blue-800 dark:text-zinc-600 font-bold">DSAI</span>,
                utilizando tecnologías como Laravel, MySQL, Tailwind, en cual fui encargado del sistema,
                <span class="text-blue-800 dark:text-zinc-600 font-bold">GenT</span>, mantenía reuniones con los
                clientes, atendiendo los requerimientos solicitados, uno de ellos fue agregar el sistema de envío de
                email, también agregué un nuevo apartado de clientes.
            </p>
            <p class="mb-4">
                Colaboré en otros sistemas donde apoyé a encargados de otros proyectos con la creación de módulos,
                testing y soporte técnico.
            </p>
            <p>
                Por último, pero no menos importante, viajé a Cd. del Carmen por parte del trabajo, dónde aprendí más
                sobre
            </p>
        </div>
        <div class="flex gap-2 mt-10">
            <img src="/portfolio/icons8-java-120.png" alt="java" class="h-8 w-8 rounded-md bg-zinc-200"/>
            <img src="/portfolio/icons8-laravel-16.png" alt="js" class="h-8 w-8 rounded-md bg-zinc-200"/>
            <img src="/portfolio/icons8-spring-boot-120.png" alt="spring" class="h-8 w-8 rounded-md bg-zinc-200"/>
        </div>
    </div>
</div>