---

---
<div class="h-screen bg-zinc-50 dark:text-stone-800 grid grid-rows-4" id="Experiencia">
    <div class="row-start-1 text-blue-800 dark:text-zinc-600 text-2xl grid content-center text-center pt-8">
        <p class="animate-pulse font-code">< Experiencia laboral / ></p>
    </div>
    <div class="row-start-2 row-span-3 grid justify-center">
        <div class="pl-5 pr-5">
            <p class="sm:w-[800px]">
                En el periodo 2018 a 2020 laboré en
                <span class="text-blue-800 dark:text-zinc-600 font-bold">DSAI</span>,
                utilizando tecnologías como Laravel, MySQL, Tailwind, en cual fui encargado del sistema,
                <span class="text-blue-800 dark:text-zinc-600 font-bold">GenT</span> ERP y CRM, mantenía reuniones
                con los clientes, atendiendo los requerimientos solicitados, por ejemplo; agregar el sistema de envío de
                email, agregar un nuevo apartado de clientes. <br/> <br/>
                Colaboré en otros sistemas donde apoyé a encargados de otros proyectos con la creación de módulos y
                testing en Pascal. <br/> <br/>
                Por último, pero no menos importante, viajé a Cd. del Carmen por parte del trabajo, además de desarrollar
                también apoyé como soporte técnico.
            </p>
            <div class="flex gap-3 pt-10">
                <img src="/portfolio/icons/icons8-laravel-96.png" alt="laravel" class="h-9 w-9 p-1 rounded-md bg-zinc-100"/>
                <img src="/portfolio/icons/icons8-css-120.png" alt="css" class="h-9 w-9 p-1 rounded-md bg-zinc-100"/>
                <img src="/portfolio/icons/icons8-mysql-120.png" alt="mysql" class="h-9 w-9 p-1 rounded-md bg-zinc-100"/>
                <img src="/portfolio/icons/icons8-jenkins-120.png" alt="jenkins" class="h-9 w-9 p-1 rounded-md bg-zinc-100"/>
            </div>
        </div>
    </div>
</div>