---

---
<div class="bg-zinc-100 dark:bg-zinc-800 h-screen" id="Experiencia">
    <div class="row-start-1 ">
        <p class="animate-pulse font-code text-center py-20 text-zinc-700 dark:text-zinc-200 text-2xl">&lt; Experiencia laboral / &gt;</p>
    </div>
    <div>

        <div class="justify-items-center">
            <div>
                <p class="font-sans px-10 sm:px-60 text-zinc-700 dark:text-zinc-200">
                    En el periodo 2018 a 2020 laboré en <span class="dark:text-zinc-600 font-bold">
                    DSAI</span>, utilizando tecnologías como Laravel, MySQL, Tailwind, en cual fui encargado del sistema,
                    <span class="dark:text-zinc-600 font-bold">GenT</span> ERP y CRM, mantenía reuniones
                    con los clientes, atendiendo los requerimientos solicitados, por ejemplo; agregar el sistema de envío de
                    email, agregar un nuevo apartado de clientes. <br/> <br/>
                    Colaboré en otros sistemas donde apoyé a encargados de otros proyectos con la creación de módulos y
                    testing en Pascal. <br/> <br/>
                    Por último, pero no menos importante, viajé a Cd. del Carmen por parte del trabajo, además de desarrollar
                    también apoyé como soporte técnico.
                </p>
            </div>
            <div class="flex justify-center gap-3 pt-5">
                <img src="/portfolio/icons/icons8-laravel-96.png" alt="laravel" class="h-9 w-9 p-1 rounded-md bg-zinc-100"/>
                <img src="/portfolio/icons/icons8-css-120.png" alt="css" class="h-9 w-9 p-1 rounded-md bg-zinc-100"/>
                <img src="/portfolio/icons/icons8-mysql-120.png" alt="mysql" class="h-9 w-9 p-1 rounded-md bg-zinc-100"/>
                <img src="/portfolio/icons/icons8-jenkins-120.png" alt="jenkins" class="h-9 w-9 p-1 rounded-md bg-zinc-100"/>
            </div>
        </div>

    </div>
</div>