---

---
<div class="bg-gradient-to-b from-sky-500 to-sky-600 dark:bg-zinc-200 h-screen" id="habilidades">
    <div class="row-start-1">
        <p class="animate-pulse font-code text-center py-20 text-2xl dark:text-zinc-700 text-zinc-200">&lt; Habilidades / &gt;</p>
    </div>

</div>