---
import {ModeToggle} from "@/components/ui/ModeToggle";
---
<div class="fixed top-1 left-1/2 -translate-x-1/2 h-12 sm:w-fit z-50 flex items-center">
    <div class="bg-zinc-50 dark:bg-zinc-800/95 backdrop-blur-sm flex justify-items-center rounded-full shadow-md shadow-zinc-400/5 p-1">
        <div>
            <nav aria-label="Navegación principal">
                <ul class="flex overflow-x-auto list-none font-sans sm:gap-4 gap-3 sm:text-sm text-[10px] p-1">
                    <li class="menuItem">
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li class="menuItem">
                        <a href="#Aboutme">Sobre mí</a>
                    </li>
                    <li class="menuItem">
                        <a href="#Experiencia">Experiencia</a>
                    </li>
                    <li class="menuItem">
                        <a href="#Project">Proyectos</a>
                    </li>
                    <li class="menuItem">
                        <a href="#historial">Historial</a>
                    </li>
                    <li class="menuItem">
                        <a href="#habilidades">Habilidades</a>
                    </li>
                    <li class="menuItem">
                        <a href="#Contacto">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="flex items-center">
            <ModeToggle client:load />
        </div>
    </div>
</div>