---
import {ModeToggle} from "./ui/ModeToggle";
---
<div class="sticky top-0 h-12 bg-zinc-50 content-center dark:bg-zinc-800 dark:text-zinc-50 shadow-md shadow-zinc-400/50">
    <div class="bg-zinc-50 dark:bg-zinc-800  grid sm:grid-cols-4">
        <div class="col-start-1 sm:grid justify-start ml-5 hidden">
            <p class="grid content-center font-sans text-[13px] select-none text-center">
                Cristian Cobaxin
            </p>
        </div>

        <div class="col-start-2 col-span-2 grid justify-center content-center">
            <nav>
                <ul class="flex list-none font-sans gap-5 sm:text-sm text-[10px]">
                    <li class="dark:hover:bg-zinc-500 dark:hover:text-zinc-900">
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li class="dark:hover:bg-zinc-500 dark:hover:text-zinc-900">
                        <a href="#Experiencia">Experiencia</a>
                    </li>
                    <li class="dark:hover:bg-zinc-500 dark:hover:text-zinc-900">
                        <a href="#Proyectos">Proyectos</a>
                    </li>
                    <li class="dark:hover:bg-zinc-500 dark:hover:text-zinc-900">
                        <a href="#Aboutme">Sobre mí</a>
                    </li>
                    <li class="dark:hover:bg-zinc-500 dark:hover:text-zinc-900">
                        <a href="#Contacto">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-start-4 grid justify-end mr-5">
            <ModeToggle client:load />
        </div>
    </div>
</div>