---
import {Archive} from "lucide-react"
---
<div class="content-center" id="inicio">

    <div class="flex justify-center">
        <img src="/portfolio/ptd.svg" alt="" class="h-screen bg-cover bg-center"/>
    </div>

    <div class="absolute left-1/2 -translate-x-1/2 -translate-y-60 z-20 animate-bounce md:relative md:left-auto md:bottom-auto md:translate-x-96 md:-translate-y-40">
        <a href="/portfolio/cv.pdf" download="Desarrollador de software.pdf">
            <button class="rounded-full p-6 w-48 h-16 flex gap-2 hover:border-zinc-200 hover:border-2 justify-center items-center">
                    <Archive/>
                Descargar CV
            </button>
        </a>
    </div>
</div>