---
import {Button} from "./ui/button";
import {Archive} from "lucide-react"
let year = new Date().getFullYear();
year=year-2000;

---
<div class="h-screen" id="inicio">

    <div class="h-60 w-60 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-no-repeat bg-center bg-cover rounded-2xl">
    </div>
    <p class="font-code p-20 text-zinc-700 dark:text-zinc-700 text-4xl font-bold w-80">Desarrollador backend</p>
</div>