---
import {Button} from "@/components/ui/button"
import {Github, Eye} from "lucide-react";
---
<div class="h-full bg-blue-800 dark:bg-zinc-800 grid sm:grid-rows-5 select-none mb-10" id="Proyectos">
    <div class="row-start-1 text-zinc-50 dark:bg-zinc-800 dark:text-zinc-300 text-2xl grid justify-center content-center sm:pt-7 pt-16 sm:pb-0 pb-8">
        <div class="animate-pulse font-code">< Proyectos / ></div>
    </div>

    <div class="row-start-2 row-span-4 grid justify-center sm:grid-cols-2 grid-cols-1 select-none gap-8 pr-5 pl-5">

        <div class="sm:h-72">
            <div class="grid grid-rows-5 bg-zinc-50 dark:bg-zinc-700 rounded-xl pr-4 pl-4 pt-2 w-full h-60">
                <div class="row-start-1">
                    <p class="text-sm text-center font-code pt-2">Almacén de productos</p>
                </div>
                <div class="row-start-2 row-span-3 grid grid-cols-3 grid-rows-3">
                    <div class="col-start-1 col-span-2 row-start-1 row-span-2 p-3">
                        <p class="text-xs text-zinc-800 dark:text-zinc-50 w-full">
                            Sistema <span class="text-zinc-950 dark:text-zinc-50 font-bold">Backend</span> de
                            <span class="text-zinc-950 dark:text-zinc-50 font-bold">micro-servicios</span> Productos,
                            Stock y Booking, hecho con
                            <span class="text-green-500 font-bold">Spring Boot</span>, contiene autenticación JWT y
                            autorización, configuración centralizada, circuit breaker, API REST, API Gateway, Spring
                            Cloud, ...
                        </p>
                    </div>
                    <div class="col-start-1 col-span-2 row-start-3 flex gap-2 pl-3">
                        <img src="/portfolio/icons/icons8-spring-boot-120.png" alt="js" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-mongo-db-96.png" alt="mysql" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-mysql-120.png" alt="mysql" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-3 row-span-3 grid justify-center content-center">
                        <img src="/portfolio/projects/p1.png" alt="" class="rounded-lg" loading="lazy"/>
                    </div>
                </div>
                <div class="row-start-5">
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='vue'>Repositorio <Github /></Button>
                    </a>
                </div>
            </div>
        </div>

        <div class="sm:h-72 sm:content-end">
            <div class="grid grid-rows-5 bg-zinc-50 dark:bg-zinc-700 rounded-xl pr-4 pl-4 pt-2 w-full h-60">
                <div class="row-start-1">
                    <p class="text-sm text-center font-code pt-2">Tienda</p>
                </div>
                <div class="row-start-2 row-span-3 grid grid-cols-3 grid-rows-3">
                    <div class="col-start-1 col-span-2 row-start-1 row-span-2 p-3">
                        <p class="sm:text-sm text-xs text-zinc-800 dark:text-zinc-50 w-full">
                            Sistema <span class="text-stone-950 font-bold dark:text-zinc-50">Full Stack</span> de
                            <span class="text-stone-950 font-bold dark:text-zinc-50">una tienda</span> hecho con
                            <span class="text-green-500 font-bold">Express JS</span> y
                            <span class="text-blue-500 font-bold">React JS</span>, contiene autenticación JWT
                            y autorización, gestión de productos, sistema de carrito de compras, ...
                        </p>
                    </div>
                    <div class="col-start-1 col-span-2 row-start-3 flex gap-2 pl-3">
                        <img src="/portfolio/icons/icons8-express-js-120.png" alt="express" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-react-120.png" alt="react" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-typescript-120.png" alt="ts" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-postgres-120.png" alt="mysql" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-tailwind-css-120.png" alt="tailwind" class="h-9 w-9 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-3 row-span-3 grid justify-center content-center">
                        <img src="/portfolio/projects/p1.png" alt="" class="h-24 rounded-lg" loading="lazy"/>
                    </div>
                </div>
                <div class="row-start-5">
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'>Demo <Eye /></Button>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid sm:h-72">
            <div class="grid grid-rows-5 bg-zinc-50 dark:bg-zinc-700 rounded-xl pr-4 pl-4 pt-2 w-full h-60">
                <div class="row-start-1">
                    <p class="text-sm text-center font-code pt-2">Biblioteca</p>
                </div>
                <div class="row-start-2 row-span-3 grid grid-cols-3 grid-rows-3">
                    <div class="col-start-1 col-span-2 row-start-1 row-span-2 p-3">
                        <p class="sm:text-sm text-xs text-zinc-800 dark:text-zinc-50 w-full">
                            Sistema <span class="text-stone-950 font-bold dark:text-zinc-50">Full Stack</span> de
                            <span class="text-stone-950 font-bold dark:text-zinc-50">una biblioteca</span> hecho con
                            <span class="text-red-500 font-bold">Laravel</span> y
                            <span class="text-green-500 font-bold">Vue JS</span>, contiene autenticación JWT
                            y autorización, gestión de libros, sistema de préstamos, ...
                        </p>
                    </div>
                    <div class="col-start-1 col-span-2 row-start-3 flex gap-2 pl-3">
                        <img src="/portfolio/icons/icons8-laravel-96.png" alt="laravel" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <svg class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M97.466 64.97 64.98 97.457H0v-64.97L32.485 0h64.98v64.98-.01Zm-64.98-45.477v6.501h38.986v38.987h6.5V19.493H32.486Zm0-6.5h51.978V64.97h6.5V6.49H32.486v6.501Zm0 19.492v32.486H64.97V32.485H32.485Z" fill="currentColor">
                            </path>
                        </svg>
                        <img src="/portfolio/icons/icons8-vue-96.png" alt="vue" class="h-8 w-8 p-1.5 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-typescript-120.png" alt="ts" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-postgres-120.png" alt="mysql" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-tailwind-css-120.png" alt="tailwind" class="h-8 w-8 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-3 row-span-3 grid justify-center content-center">
                        <img src="/portfolio/projects/l3.png" alt="" class="h-24 rounded-lg" loading="lazy"/>
                    </div>
                </div>
                <div class="row-start-5">
                    <a href="https://library-vue-ashy.vercel.app/" target="_blank">
                        <Button variant='default'>Demo<Eye /></Button>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid sm:h-72 sm:content-end">
            <div class="grid grid-rows-5 bg-zinc-50 dark:bg-zinc-700 rounded-xl pr-4 pl-4 pt-2 w-full h-60">
                <div class="row-start-1">
                    <p class="text-sm text-center font-code pt-2">Admin</p>
                </div>
                <div class="row-start-2 row-span-3 grid grid-cols-3 grid-rows-3">
                    <div class="col-start-1 col-span-2 row-start-1 row-span-2 p-3">
                        <p class="sm:text-xs text-[8px] text-zinc-800 dark:text-zinc-50 w-full">
                            Sistema <span class="text-stone-950 font-bold dark:text-zinc-50">Backend</span> de
                            <span class="text-stone-950 font-bold dark:text-zinc-50">administración y roles</span> hecho con
                            <span class="text-red-500 font-bold">Laravel</span>, gestión de usuarios,
                            gestión de roles, gestión de permisos, ...
                        </p>
                    </div>
                    <div class="col-start-1 col-span-2 row-start-3 flex gap-2">
                        <img src="/portfolio/icons/icons8-laravel-96.png" alt="laravel" class="h-9 w-9 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                        <img src="/portfolio/icons/icons8-mysql-120.png" alt="mysql" class="h-9 w-9 p-1 rounded-md bg-zinc-100 dark:bg-zinc-500"/>
                    </div>
                    <div class="col-start-3 row-span-3 grid justify-center content-center">
                        <img src="/portfolio/projects/o3.png" alt="" class="h-24 rounded-lg" loading="lazy"/>
                    </div>
                </div>
                <div class="row-start-5">
                    <a href="https://github.com/CristianDCS0/LaravelPanel" target="_blank">
                        <Button variant='laravel'>Repositorio <Github /></Button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
