---
import {Button} from "@/components/ui/button"
import {Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle} from "./ui/card";
import {Github} from "lucide-react";
import Almacen from "./Projects/Almacen.astro";
---
<div class="sm:h-full">
    <div class="bg-blue-900 text-zinc-50 dark:bg-zinc-800 dark:text-zinc-300 text-2xl text-center pt-20 pb-8" id="Proyectos">
        <p class="animate-pulse font-code">< Proyectos / ></p>
    </div>
    <div class="bg-blue-900 dark:bg-zinc-800 sm:grid-cols-2 sm:gap-12 p-5 select-none pb-20">

        <div class="sm:grid sm:justify-items-end">
            <Card>
                <CardHeader>
                    <CardTitle>Biblioteca</CardTitle>
                </CardHeader>
                <CardContent>

                    <div class="flex justify-end">
                        <div class="flex gap-2 w-32 h-40">
                            <img src="/portfolio/l1.png" alt="" class="h-full rounded-lg"/>
                        </div>
                    </div>
                </CardContent>
                <CardFooter>
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'> Demo<Github /></Button>
                    </a>
                </CardFooter>
            </Card>
        </div>

        <div class="sm:pt-10 grid sm:justify-items-start">
            <Card>
                <CardHeader>
                    <CardTitle>Tienda</CardTitle>
                </CardHeader>
                <CardContent>
                    <div class="flex justify-end">
                        <div class="flex gap-2 w-32 h-40">
                            <img src="/portfolio/e1.png" alt="" class="h-full rounded-lg"/>
                        </div>
                    </div>
                </CardContent>
                <CardFooter>
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'> Demo<Github /></Button>
                    </a>
                </CardFooter>
            </Card>
        </div>

        <div class="sm:grid sm:justify-items-end">
            <Card>
                <CardHeader>
                    <CardTitle>Login</CardTitle>
                </CardHeader>
                <CardContent>
                    <!--<div class="flex w-full h-16 overflow-y-scroll mb-2 scrollbar-thin scrollbar-thumb-white scrollbar-track-[#172564] dark:scrollbar-thumb-zinc-950 dark:scrollbar-track-zinc-700">-->
                    <!--    <p class="text-justify pr-3 pl-3 select-none">-->
                    <!--        Es un sistema básico tipo SPA sin tokens complejos como JWT o OAuth, sin embargo, ofrece protección CSRF,-->
                    <!--        autenticación de sesión, así como protege contra la fuga de las credenciales de autenticación a través de XSS.-->
                    <!--        se puede adaptar a cualquier necesidad-->
                    <!--    </p>-->
                    <!--</div>-->
                    <div class="flex justify-end">
                        <div class="flex gap-2 w-32 h-40">
                            <img src="/portfolio/p1.png" alt="" class="h-full"/>
                        </div>
                    </div>
                </CardContent>
                <CardFooter>
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'> Demo<Github /></Button>
                    </a>
                </CardFooter>
            </Card>
        </div>

        <div class="sm:pt-10 grid justify-items-start">
            <Card>
                <CardHeader>
                    <CardTitle>Open Admin</CardTitle>
                </CardHeader>
                <CardContent>
                    <div class="flex justify-end">
                        <div class="flex gap-2 w-32 h-40">
                            <img src="/portfolio/o1.png" alt="" class="h-full rounded-lg"/>
                        </div>
                    </div>
                </CardContent>
                <CardFooter>
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'> Demo<Github /></Button>
                    </a>
                </CardFooter>
            </Card>
        </div>

        <div class="grid sm:justify-items-end">
            <Almacen/>
        </div>
    </div>
</div>