---
import {Button} from "@/components/ui/button"
import {Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle} from "./ui/card";
import {Github} from "lucide-react";
import Almacen from "./Projects/Almacen.astro";
---
<div class="h-full bg-blue-800 grid justify-center" id="Proyectos">
    <div class="bg-blue-800 text-zinc-50 dark:bg-zinc-800 dark:text-zinc-300 text-2xl text-center pb-8">
        <p class="animate-pulse font-code">< Proyectos / ></p>
    </div>
    <div class="bg-blue-800 dark:bg-zinc-800 grid sm:grid-cols-2 grid-cols-1 sm:gap-12 gap-5 select-none pb-20">
        <div class="grid sm:justify-items-end">
            <Card>
                <CardHeader>
                    <CardTitle>Biblioteca</CardTitle>
                </CardHeader>
                <CardContent>
                    <div class="flex justify-end">
                        <img src="/portfolio/l1.png" alt="" class="w-32 h-40 rounded-lg"/>
                    </div>
                </CardContent>
                <CardFooter>
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'> Demo<Github /></Button>
                    </a>
                </CardFooter>
            </Card>
        </div>

        <div class="sm:pt-12 grid sm:justify-items-start">
            <Card>
                <CardHeader>
                    <CardTitle>Tienda</CardTitle>
                </CardHeader>
                <CardContent>
                    <div class="flex justify-end">
                        <div class="flex gap-2 w-32 h-40">
                            <img src="/portfolio/e1.png" alt="" class="h-full rounded-lg"/>
                        </div>
                    </div>
                </CardContent>
                <CardFooter>
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'> Demo<Github /></Button>
                    </a>
                </CardFooter>
            </Card>
        </div>

        <div class="grid sm:justify-items-end">
            <Card>
                <CardHeader>
                    <CardTitle>Login</CardTitle>
                </CardHeader>
                <CardContent>
                    <div class="flex justify-end">
                        <div class="flex gap-2 w-32 h-40">
                            <img src="/portfolio/p1.png" alt="" class="h-full rounded-lg"/>
                        </div>
                    </div>
                </CardContent>
                <CardFooter>
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'> Demo<Github /></Button>
                    </a>
                </CardFooter>
            </Card>
        </div>

        <div class="sm:pt-12 grid sm:justify-items-start">
            <Card>
                <CardHeader>
                    <CardTitle>Open Admin</CardTitle>
                </CardHeader>
                <CardContent>
                    <div class="flex justify-end">
                        <div class="flex gap-2 w-32 h-40">
                            <img src="/portfolio/o1.png" alt="" class="h-full rounded-lg"/>
                        </div>
                    </div>
                </CardContent>
                <CardFooter>
                    <a href="https://github.com/CristianDCS0/Library_Laravel">
                        <Button variant='default'> Demo<Github /></Button>
                    </a>
                </CardFooter>
            </Card>
        </div>

        <div class="grid sm:justify-items-end">
            <Almacen/>
        </div>
    </div>
</div>