---
import Proyectos from "./Proyectos.astro";
import Portada from "./Portada.astro";
import Contacto from "./Contacto.astro";
import Menu from "./Menu.astro";
import Experiencia from "./Experiencia.astro";
import Aboutme from "./Aboutme.astro";
---

<div>
    <Menu/>

    <Portada/>

    <Experiencia/>

    <Proyectos />

    <Aboutme/>

    <Contacto/>
</div>