---
import Proyectos from "./Proyectos.astro";
import Portada from "./Portada.astro";
import Contacto from "./Contacto.astro";
import Menu from "./Menu.astro";
import Experiencia from "./Experiencia.astro";
import Aboutme from "./Aboutme.astro";
import {ArrowUp} from "lucide-react";
---

<div>
    <Menu/>

    <Portada />

    <Experiencia/>

    <Proyectos />

    <Aboutme/>

    <Contacto/>

    <div class="sticky bottom-0 flex justify-end p-3">
        <a href="#inicio" class="bg-zinc-50/50 p-2 rounded-md">
            <ArrowUp />
        </a>
    </div>
</div>